/* CSS Selector */
body{
    /* /css deCLARASJON */
    /* /css Rule Propety:value */
    background-color:lightcyan;
}

header {
display:flex;
align-items: center ;
justify-content: space-between;
}
.headerLogo{
    background-color:lightcoral;
}
div{
;

}